<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style1.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="rjlogo">
        <img src="{{ url_for('static', filename='logo.png') }}" class="logo">
        <h3>Rajasthan Police Hackathon</h3>
        <img src="{{ url_for('static',filename='image1.jpg')}}" class="raccam">
    </div>
    <div class="cyber-dance">
        <pre>
        <h2>Identity theft</h2>
        as per section 66 C of the constitution Whoever, 
        fraudulently or dishonestly make use of the electronic signature, password or any other unique identification feature of any other person.
        Punishment:
        Upto 3 years of prison
        Fine upto 1 lakh.

        <h2>Violation of Privacy</h2>
        As per IT act section 66E whoever intentionally or knowingly captures ,publishes or transmits image of a person without his or her consent .
        They shall be punished with :
        Imprisonment upto 3 years 
        Upto 2 lakhs fine

        <h2>Infringement copy of copyrighted work:</h2>
        As per IT act of section 65 if any person knowing makes or has in his possession a copy of copyrighted property ,without the owners consent .
        They are punishable by:
        3 years in prison
        Fine upto 2 lakhs .

        <h2>Personation Crimes:</h2>
        As per IT ACT SECTION  66D if a person is said to personate another person by any means of communication device or computer resource ,
        They are punished by :
        Imprisonment upto 3 years.
        fine of 1 lakhs .


        <h2>Damage of Individual Computer ,Computer System or a network:</h2>
        As per IT ACT SECTION 43 If a person accesses ,downloads ,extracts data or contaminates viruses or other foreign means into a computer,computer system or network…

        They are punishable by :
        Imprisonment of upto  3 years 
        Fine upto 5,00,000 or both ..
        </pre>
    </div>   
</body>
</html>